<br/>
<div class="row">
    <p class="alert-danger">{{error}}</p>
    <div class="col col-12" *ngIf=isLoading>
        <span>Loading...</span>
    </div>
    <div class="col col-12">
        <button class="btn btn-primary btn-sm" (click)="onAddPatient()">Add Patient</button>
    
    </div>

    <br/><br/>
    <div class="col col-2 ">

        <app-patient-item *ngFor="let item of patients" [patientItem]="item">
        
        </app-patient-item>

    </div>
    <div class="col col-9 offset-1">
        <router-outlet></router-outlet>
    </div>

    <div class="col col-2"><button class="btn btn-danger btn-sm" (click)="onClearPatients()">Clear</button></div>
    
</div>

