<div class="row">
    <div class="col col-2">
        <label>Patient Name</label>
    </div>
    <div class="col col-10">
        <p>{{appointment.patientName}}</p>
    </div>

    <div class="col col-2">
        <label>Doctor Name</label>
    </div>
    <div class="col col-10">
        <p>{{appointment.doctorName}}</p>
    </div>

    <div class="col col-2">
        <label>Date</label>
    </div>
    <div class="col col-10">
        <p>{{appointment.date}}</p>
    </div>
    <div class="col col-2">
        <label>Notes</label>
    </div>
    <div class="col col-10">
        <p>{{appointment.notes}}</p>
    </div>
</div>
<a class="btn btn-primary bt-sm" (click)="onEdit(appointment.id)">Edit</a>
<br/>
<br/>