<div class="row">
    <div class="col-6">
        <!-- <h1 [ngStyle]="{'background-color':'yellow'}"
    [ngClass]="{'white-element': isWhite}"
>{{getFullName()}}</h1> -->

<!-- <p *ngIf="showMessage">This is Testing Directive</p> -->

<!-- <input type="text" class="form-control" [(ngModel)]="firstName"/>  -->
<div class="row">
    <div class="col-4">
        <input type="text" placeholder="firstName" class="form-control" #firstName/> 
    </div>
        
    <div class="col-4">
        <input type="text" placeholder="lastName" class="form-control" #lastName/> 
    </div>
    <div class="col-4">
        <input type="text" placeholder="age" class="form-control" #age/> 
    </div>
</div>

<!-- <p>{{firstName}}</p> -->
    </div>

    <div class="col-6">
        
<button class="btn btn-primary btn-sm" (click)="addDoctor(firstName, lastName,age)">Add Doctor</button>
    </div>
</div>